// FONTS 

@font-face {
    font-family: lemonMilk;
    src: url(font/LemonMilk.otf) format('opentype');
}


// VARS 

$col_light: #EEEEEE;
$col_dark: #2E2E2E;


// VAR BREAKPOINTS

$dsktp: 1200px;
$lrg_dsktp: 1660px;


// color pallets

$col_A: #B22028;
$col_B: #B2AA20;
$col_C: #A920B2;
$col_D: #2085B2;
$col_E: #20B275;



$backgroundCOLOR: (#000);



// MIXINS

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.1) translate(-50%,-50%);
}

@mixin center_page {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin center_X {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin background_img($img){
    background-image: url(img/icons/#{$img});
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin background_img_clients($img){
    background-image: url(img/clients/#{$img});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

@mixin background_img_projects($img){
    background-image: url(img/projects/#{$img});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin social($icon) {
    background: url(img/social/#{$icon});
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin main_content {
    width: 80%;
    height: 400px;
    display: block;
}

@mixin icon_content{
    width: 75px;
    height: 75px;
    display: block;
}




// CLIENTS PAGE

@mixin clients($img) {
    height: 160px;
    display: block;
    background-image: url(img/clients/#{$img});
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


// MIXIN ANIMATIONS

// fade in

@mixin fade_in_up ($fade_from:0, $fade_to:1, $time: 1.2){
    animation-fill-mode: forwards;
    animation: fade_in #{$time}s ease-in-out;
    @keyframes fade_in {
        0%{
            opacity: #{$fade_from};
            transform: translateY(5%, -50%);
        }
        100%{
            opacity: #{$fade_to};
            transform: translateY(0%, -50%);
        }
        
    }
}

@mixin exit($direction){
    transition: 0.5s ease-in-out;
    transform: translateX(#{$direction});
    
}

@mixin translateUp($value){
    position: relative;
    transition: 0.5s ease-in-out;
    transform: translateY(#{$value});
    animation-delay: 1s;
}


// SCSS starts below -- 


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $col_dark;
        div{
            &.container{
                display: flex;
                flex-direction: column;
                @include center_page;
                span{
                    @include background_img('title_background.png');
                    @include main_content;
                    @include fade_in_up;
                    @include center_X;
                }
                div{
                    &.social_links{
                        @include row;
                        a{
                            padding: 0 20px;
                            &.gitHub{
                                @include social('githubBlack.svg');
                                @include icon_content;
                                @include fade_in_up;
                            }
                            &.stackOverflow{
                                @include social('stackOverflow.svg');
                                @include icon_content;
                                @include fade_in_up;
                            }
                        }
                    }
                }   
            }
        }
        
    }


    section{
        overflow: hidden;
        background-color: $col_light;
        color: $col_dark;
        font-family: lemonMilk;
        position: relative;
        div{
            @include column;
            max-height: 2000px;
            height: 33.3333%;
            position: relative;
            h2{
                font-size: 3.5em;
            }
            h2, p, h3, a {
                margin: 15px 0;
                text-align: left;
                padding: 0 20px;
            }
            .exitButton{
                display: block;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin: 15px 20px;
                background-image: url(img/icons/backButton.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                opacity: 0;

                transition: 0.5s ease-in-out;
                &_show{
                    opacity: 1;
                }
                
            }
            
            }
            .projects{
                h2{
                    font-size: 3rem;
                }
            }
        
            .heading_item{
                .top_menu{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            
        .exitL {
            
            @include exit(-100%);
            overflow: hidden;
            
        }
        .exitR {
            @include exit(100%);
            overflow: hidden;
        }
        .clients{
            background-color: lightcoral;
            animation-fill-mode: forwards;
            
           
        }
        .projects{
            background-color: lightseagreen;
            animation-fill-mode: forwards;
            .project_list_show{
                display: flex;
                .project{
                    height: 100%;
                    .project_background{
                        height: 50vh;
                       
                    }
                    .project_info{
                        color: #EEE;
                        h3 {
                            font-size: 2em;
                        }
                        .project_links{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                            height: 120px;
                            .website_link{
                                a{
                                    font-size: 1.5em;
                                    &:visited {
                                        color: #2e2e2e;
                                    }
                                }
    
                            }
                            .github_link {
                                background-image: url(img/social/githubWhite.svg);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 75px;
                                width: 85px;
                                a{
                                    height: 75px;
                                    width: 85px;
                                }
                            }
                        }
                    }
                }
                #notables{
                    .project_background{
                        @include background_img_projects('notables_mobile.JPG')
                    }
                    }
                #littleLeo{
                    .project_background{
                        @include background_img_projects('littleLeo.JPG')
                    }
                }
            }
        } 

        // upSkill / upProject - needs to be a better way to solve the scroll up function of this
        .upProject{
            // @include translateUp(-100%);
        }
        .skill{
            animation-fill-mode: forwards;
        } .upSkill {
            // @include translateUp(-200%);
        }

        .skills_list{
            opacity: 0;
            height: 0;
        }
        .skills_list_show{
            max-height: 1000px;
            @include fade_in_up;
            animation-fill-mode: forwards;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            h3{
                height: 180px;
                width: 50%;
                line-height: 180px;
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 2.5rem;
                color: #EEE;
                &:nth-child(1){
                    background-color: $col_A;
                }
                &:nth-child(2){
                    background-color: $col_B;
                }
                &:nth-child(3){
                    background-color: $col_C;
                }
                &:nth-child(4){
                    background-color: $col_D;
                }
                &:nth-child(5){
                    background-color: $col_E;
                }
                &:nth-child(6){
                    font-size: 1em;
                    line-height: 180px;
                }
                
            }
        }
        .clients_list{
            display: none;
        }
        .clients_list_show{
            .client{
                display: flex;
                flex-direction: row;
                @include fade_in_up();
                height: 40vh;
                color: #EEE;
                a{
                    display: none;
                }
                h3{
                    display: none;
                }
                
            }

            


            #AWP{
                .client_img{
                    @include background_img_clients('awp_dsktp.JPG');
                    width: 100%;
                }
                .client_info{
                    height: 40vh;
                    width: 0%;
                    overflow: hidden;
                    transform: translateX(100%);
                    
                }
                
            }


            #KeaTek{
                @include background_img_clients('keatek_dsktp.JPG');
            }
            #MrNobodies{
                @include background_img_clients('nobodies_dsktp.JPG');
            }
            #trippy{
                @include background_img_clients('trippy_dsktp.JPG');
            }
        }


        .project_list{
            display: none;
        }
        
        }

    footer{
        height: 20vh;
        background-color: $col_dark;
        color: $col_light;
        font-family: lemonMilk;
        text-align: center;

        .copyRight {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    



    @media (min-width: $dsktp){


        .clients_list_show {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .client{
                width: 25%;
            }
        }

        .project {
            display: flex;
            flex-direction: row;
            .project_background{
                width: 33.3333%;
            }
            .project_info{
                width: 66.66666%;
            }
        }
        
        section{
            .skills_list_show{
                h3{
                    width: 25%;
                }
            }
        }

    }