@font-face {
  font-family: lemonMilk;
  src: url(font/LemonMilk.otf) format("opentype"); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #2E2E2E; }
  header div.container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    header div.container span {
      background-image: url(img/icons/title_background.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 80%;
      height: 400px;
      display: block;
      animation-fill-mode: forwards;
      animation: fade_in 1.2s ease-in-out;
      position: relative;
      left: 50%;
      transform: translate(-50%); }
@keyframes fade_in {
  0% {
    opacity: 0;
    transform: translateY(5%, -50%); }
  100% {
    opacity: 1;
    transform: translateY(0%, -50%); } }
    header div.container div.social_links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      header div.container div.social_links a {
        padding: 0 20px; }
        header div.container div.social_links a.gitHub {
          background: url(img/social/githubBlack.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 75px;
          height: 75px;
          display: block;
          animation-fill-mode: forwards;
          animation: fade_in 1.2s ease-in-out; }
@keyframes fade_in {
  0% {
    opacity: 0;
    transform: translateY(5%, -50%); }
  100% {
    opacity: 1;
    transform: translateY(0%, -50%); } }
        header div.container div.social_links a.stackOverflow {
          background: url(img/social/stackOverflow.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 75px;
          height: 75px;
          display: block;
          animation-fill-mode: forwards;
          animation: fade_in 1.2s ease-in-out; }
@keyframes fade_in {
  0% {
    opacity: 0;
    transform: translateY(5%, -50%); }
  100% {
    opacity: 1;
    transform: translateY(0%, -50%); } }
section {
  overflow: hidden;
  background-color: #EEEEEE;
  color: #2E2E2E;
  font-family: lemonMilk;
  position: relative; }
  section div {
    display: flex;
    flex-direction: column;
    height: 33.3333%;
    position: relative; }
    section div h2 {
      font-size: 3.5em; }
    section div h2, section div p, section div h3, section div a {
      margin: 15px 0;
      text-align: left;
      padding: 0 20px; }
    section div .exitButton {
      display: block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin: 15px 20px;
      background-image: url(img/icons/backButton.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0;
      transition: 0.5s ease-in-out; }
      section div .exitButton_show {
        opacity: 1; }
  section .projects h2 {
    font-size: 3rem; }
  section .heading_item .top_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  section .exitL {
    transition: 0.5s ease-in-out;
    transform: translateX(-100%);
    overflow: hidden; }
  section .exitR {
    transition: 0.5s ease-in-out;
    transform: translateX(100%);
    overflow: hidden; }
  section .clients {
    background-color: lightcoral;
    animation-fill-mode: forwards; }
  section .projects {
    background-color: lightseagreen;
    animation-fill-mode: forwards; }
    section .projects .project_list_show {
      display: flex; }
      section .projects .project_list_show .project {
        height: 100%; }
        section .projects .project_list_show .project .project_background {
          height: 50vh; }
        section .projects .project_list_show .project .project_info {
          color: #EEE; }
          section .projects .project_list_show .project .project_info h3 {
            font-size: 2em; }
          section .projects .project_list_show .project .project_info .project_links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 120px; }
            section .projects .project_list_show .project .project_info .project_links .website_link a {
              font-size: 1.5em; }
              section .projects .project_list_show .project .project_info .project_links .website_link a:visited {
                color: #2e2e2e; }
            section .projects .project_list_show .project .project_info .project_links .github_link {
              background-image: url(img/social/githubWhite.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              height: 75px;
              width: 85px; }
              section .projects .project_list_show .project .project_info .project_links .github_link a {
                height: 75px;
                width: 85px; }
      section .projects .project_list_show #notables .project_background {
        background-image: url(img/projects/notables_mobile.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: contain; }
      section .projects .project_list_show #littleLeo .project_background {
        background-image: url(img/projects/littleLeo.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: contain; }
      section .projects .project_list_show #weatherApp .project_background {
        background-image: url(img/projects/weatherApp.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: contain; }
      section .projects .project_list_show #youzThatPokemon .project_background {
        background-image: url(img/projects/youzThatPokemon.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: contain; }
  section .upProject {
    position: relative;
    transition: 0.5s ease-in-out;
    transform: translateY(-100%);
    animation-delay: 1s; }
  section .skill {
    animation-fill-mode: forwards; }
  section .upSkill {
    position: relative;
    transition: 0.5s ease-in-out;
    transform: translateY(-200%);
    animation-delay: 1s; }
  section .skills_list {
    opacity: 0;
    height: 0; }
  section .skills_list_show {
    max-height: 1000px;
    animation-fill-mode: forwards;
    animation: fade_in 1.2s ease-in-out;
    animation-fill-mode: forwards;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
@keyframes fade_in {
  0% {
    opacity: 0;
    transform: translateY(5%, -50%); }
  100% {
    opacity: 1;
    transform: translateY(0%, -50%); } }
    section .skills_list_show h3 {
      height: 180px;
      width: 50%;
      line-height: 180px;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 2.5rem;
      color: #EEE; }
      section .skills_list_show h3:nth-child(1) {
        background-color: #B22028; }
      section .skills_list_show h3:nth-child(2) {
        background-color: #B2AA20; }
      section .skills_list_show h3:nth-child(3) {
        background-color: #A920B2; }
      section .skills_list_show h3:nth-child(4) {
        background-color: #2085B2; }
      section .skills_list_show h3:nth-child(5) {
        background-color: #20B275; }
      section .skills_list_show h3:nth-child(6) {
        font-size: 1em;
        line-height: 180px; }
  section .clients_list {
    display: none; }
  section .clients_list_show .client {
    display: flex;
    flex-direction: row;
    animation-fill-mode: forwards;
    animation: fade_in 1.2s ease-in-out;
    height: 40vh;
    color: #EEE;
    position: relative; }
@keyframes fade_in {
  0% {
    opacity: 0;
    transform: translateY(5%, -50%); }
  100% {
    opacity: 1;
    transform: translateY(0%, -50%); } }
    section .clients_list_show .client .client_img {
      position: absolute;
      width: 100%; }
    section .clients_list_show .client .client_info {
      position: absolute;
      width: 100%;
      transform: translateX(100%);
      transition: 0.4s ease-in-out;
      z-index: 23;
      height: 40vh;
      background-color: rgba(0, 0, 0, 0.8); }
      section .clients_list_show .client .client_info h3 {
        font-size: 2rem;
        background: #EEEEEE;
        margin: 0;
        padding: 20px;
        color: #2E2E2E; }
      section .clients_list_show .client .client_info ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap; }
        section .clients_list_show .client .client_info ul li {
          padding-left: 20px;
          font-size: 2rem; }
      section .clients_list_show .client .client_info .client_into_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        width: 100%;
        background: #EEE;
        height: 100%; }
        section .clients_list_show .client .client_info .client_into_bottom a {
          color: #2E2E2E;
          font-size: 1.5rem; }
          section .clients_list_show .client .client_info .client_into_bottom a:visited {
            color: #2E2E2E; }
        section .clients_list_show .client .client_info .client_into_bottom .client_info_exitButton {
          width: 50%;
          background-image: url(img/icons/backButton.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 25%;
          height: 100%;
          transform: rotate(180deg); }
    section .clients_list_show .client .client_info_show {
      transform: translateX(0%); }
  section .clients_list_show #AWP .client_img {
    background-image: url(img/clients/awp_dsktp.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh; }
  section .clients_list_show #KeaTek .client_img {
    background-image: url(img/clients/keatek_dsktp.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh; }
  section .clients_list_show #MrNobodies .client_img {
    background-image: url(img/clients/nobodies_dsktp.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh; }
  section .clients_list_show #trippy .client_img {
    background-image: url(img/clients/trippy_dsktp.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh; }
  section .project_list {
    display: none; }

footer {
  height: 20vh;
  background-color: #2E2E2E;
  color: #EEEEEE;
  font-family: lemonMilk;
  text-align: center; }
  footer .copyRight {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media (min-width: 1200px) {
  section .clients_list_show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    section .clients_list_show .client {
      width: 25%; }
      section .clients_list_show .client .client_info {
        transform: translateY(100%);
        z-index: 2; }
        section .clients_list_show .client .client_info .client_into_bottom .client_info_exitButton {
          transform: rotate(-90deg); }
      section .clients_list_show .client .client_info_show {
        transform: translateY(0%); }
  section .projects {
    z-index: 3; }
    section .projects .project {
      display: flex;
      flex-direction: row; }
      section .projects .project .project_background {
        width: 33.3333%; }
      section .projects .project .project_info {
        width: 66.66666%;
        padding: 0% 10%; }
  section .skills {
    z-index: 3;
    background: #eee; }
  section .skills_list_show h3 {
    width: 25%; } }

/*# sourceMappingURL=main.css.map */
